.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;

  .headerleft {
    background-color: white;
    flex: 0.5;
    min-width: 75px;
    color: gray;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px;

    input {
      border: none;
      width: 100%;
      outline: none;
    }
  }

  .headerright {
    display: flex;
    align-items: center;

    h4 {
      margin-left: 10px;
    }
  }
}
